.tab-bar-wrap {
  margin-bottom: 60px;

  @media (max-width: 768px) {
    width: 100%;
  }

  .mdc-tab {
    margin: 0 45px;

    @media (max-width: 768px) {
      margin: 0;
      padding: 0 15px;
    }
  }
}

.accordion-wrap {
  margin-bottom: 70px;
  display: none;
  width: 100%;

  &.active {
    display: block;
  }
}

.accordion {
  cursor: pointer;
  border-bottom: 1px solid #d7d7d7;
  position: relative;

  &:after {
    content: "";
    width: 14px;
    height: 10px;
    background: url("../img/icons/accordion-arrow.png");
    background-size: contain;
    transition: transform .3s;
    position: absolute;
    right: 0;
    top: 33px;
  }

  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &__title {
    padding: 25px 0;
    font-size: 18px;
    line-height: 24px;
    color: #424242;
    padding-right: 35px;
  }

  &__content {
    display: none;
    padding-bottom: 25px;

    p {
      color: #424242;
      font-size: 16px;
      line-height: 20px;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
