@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProRegular-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProRegular-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProRegular-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProRegular-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProRegular-Italic.svg#SofiaProRegular-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProBlack.eot');
    src: url('../fonts/SofiaPro/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProBlack.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProBlack.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProBlack.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProBlack.svg#SofiaProBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProBlack-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProBlack-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProBlack-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProBlack-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProBlack-Italic.svg#SofiaProBlack-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProUltraLight-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProUltraLight-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProUltraLight-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProUltraLight-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProUltraLight-Italic.svg#SofiaProUltraLight-Italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProMedium.eot');
    src: url('../fonts/SofiaPro/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProMedium.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProMedium.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProMedium.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProMedium.svg#SofiaProMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProExtraLight-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProExtraLight-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProExtraLight-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProExtraLight-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProExtraLight-Italic.svg#SofiaProExtraLight-Italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProRegular.eot');
    src: url('../fonts/SofiaPro/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProRegular.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProRegular.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProRegular.svg#SofiaProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/SofiaPro/SofiaProSemiBold.eot');
    src: url('../fonts/SofiaPro/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProSemiBold.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProSemiBold.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProSemiBold.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProSemiBold.svg#SofiaProSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProLight-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProLight-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProLight-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProLight-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProLight-Italic.svg#SofiaProLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProExtraLight.eot');
    src: url('../fonts/SofiaPro/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProExtraLight.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProExtraLight.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProExtraLight.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProExtraLight.svg#SofiaProExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProBold-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProBold-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProBold-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProBold-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProBold-Italic.svg#SofiaProBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProMedium-Italic.eot');
    src: url('../fonts/SofiaPro/SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProMedium-Italic.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProMedium-Italic.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProMedium-Italic.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProMedium-Italic.svg#SofiaProMedium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProBold.eot');
    src: url('../fonts/SofiaPro/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProBold.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProBold.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProBold.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProBold.svg#SofiaProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProLight.eot');
    src: url('../fonts/SofiaPro/SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProLight.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProLight.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProLight.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProLight.svg#SofiaProLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro/SofiaProUltraLight.eot');
    src: url('../fonts/SofiaPro/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaPro/SofiaProUltraLight.woff2') format('woff2'),
        url('../fonts/SofiaPro/SofiaProUltraLight.woff') format('woff'),
        url('../fonts/SofiaPro/SofiaProUltraLight.ttf') format('truetype'),
        url('../fonts/SofiaPro/SofiaProUltraLight.svg#SofiaProUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

