@charset 'UTF-8';



/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    z-index: 9;
    background-color: transparent;
}

.slick-prev::after,
.slick-next::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ff8b38;
    transform: scale(0);
    transition: all .3s;
    z-index: 0;
}
.slick-prev:hover::after,
.slick-prev:focus::after,
.slick-next:hover::after,
.slick-next:focus::after
{
    transform: scale(1);
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;

    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    outline: none;
    z-index: 1;
}

.slick-prev
{
    left: 2rem;
}
[dir='rtl'] .slick-prev
{
    right: 2rem;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 2rem;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 2rem;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */

.slick-dots
{
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 18px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .3s;
}
.slick-dots li.slick-active button:before
{
    font-size: 30px;
}

@media (max-width: 767px) {
    .slick-dots {
        right: 50%;
        transform: translateX(50%);
        top: auto;
        bottom: 2rem;
    }
    .slick-dots li {
        display: inline-block;
    }

    .slick-prev {
        display: none !important;
    }

    .slick-next {
        top: calc(100% + 2rem);
        right: 50%;
        transform: translateX(50%);
    }
}