.about-hero {
  height: rem(1030);
  background-color: #030303;
  position: relative;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/images/about-us/about-us-bg2.jpg");
    background-repeat: no-repeat;
    background-size: rem(2535);
    background-position: center;
  }

  @include desktop-lg-down() {
    height: rem(900);
  }

  @include tablets-down() {
    height: rem(800);

    &::before {
      background-position: 55%;
    }
  }

  @include phones-lg-down() {
    &::before {
      background-position: 60%;
    }
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__label {
    font-weight: 300;
    @include fz(24, 37);
    margin-bottom: rem(100);
  }

  &__content {
    max-width: rem(820);
    h1 {
      margin-bottom: rem(54);
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    & > * {
      margin-right: rem(60);

      &:last-child {
        margin-right: 0;
      }
    }

    @include phones-lg-down() {
      & > * {
        margin-right: rem(40);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.founder-block {
  padding: rem(150) 0;

  @include tablets-down() {
    padding: rem(60) 0;
  }
}

.founder {
  display: flex;
  align-items: stretch;

  @include tablets-down() {
    flex-direction: column;
  }

  &__left {
    width: 50%;

    @include tablets-down() {
      width: 100%;
      margin-bottom: rem(40);
      max-width: rem(480);
    }
  }

  &__right {
    width: 50%;

    @include tablets-down() {
      width: 100%;
    }
  }

  &__pic {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 99.26%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__cont {
    height: 100%;
    padding-left: rem(98);
    padding-top: rem(16);
    display: flex;
    flex-direction: column;
    color: #2F2F2F;

    @include tablets-down() {
      padding-left: 0;
      padding-top: 0;
    }

    &-top {
      flex: 1 0 auto;
      margin-bottom: rem(24);

      @include tablets-down() {
        margin-bottom: rem(40);
      }
    }

    &-bottom {
      flex: 0 0 auto;
      @include fz(20, 31);
      font-weight: 300;

      a {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          pointer-events: none;
          left: 0;
          bottom: 0;
          width: 100%;
          height: rem(8);
          background: #A247FA;
          z-index: -1;
        }
      }
    }
  }

  &__name {
    font-weight: normal;
    @include fz(26, 41);
  }

  &__position {
    font-weight: normal;
    @include fz(24, 41);
    color: #8E8E8E;
    margin-bottom: rem(47);
    max-width: rem(260);
  }

  &__desc {
    font-weight: 300;
    @include fz(20, 31);
    margin-bottom: rem(60);
  }
}

.buro-block {
  background-color: #000103;
  background-image: url("../img/images/about-us/about-us-bg3.jpg");
  background-repeat: no-repeat;
  background-size: rem(2535);
  background-position: center;

  @include desktop-lg-down() {
    background-size: rem(1535);
    background-position: center bottom;
  }

  @include tablets-down() {
    background-size: rem(1235);
  }

  &__inner {
    height: rem(1120);
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop-lg-down() {
      height: rem(800);
    }

    @include tablets-down() {
      height: rem(600);
    }
  }

  &__img {
    width: 100%;
    max-width: rem(747);

    @include tablets-down() {
      max-width: rem(447);
    }
  }
}

.about-block {
  padding: rem(148) 0 rem(127);
  background: #191C26;
  color: $white;

  h2 {
    margin-bottom: rem(100);
  }

  @include tablets-down() {
    padding: rem(60) 0;

    h2 {
      margin-bottom: rem(60);
    }
  }
}

.what-we-do {
  width: 100%;
  max-width: rem(1090);
  margin: 0 auto;

  @include tablets-down() {
    margin-bottom: rem(60);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    margin-bottom: rem(145);

    &:nth-child(even) {
      & > * {
        margin-left: auto;
      }
    }

    @include tablets-down() {
      width: 100%;
      margin-bottom: rem(60);

      &:nth-child(even) {
        & > * {
          margin-left: 0;
        }
      }
    }
  }
}

.direction-card {
  max-width: rem(450);
  padding-left: rem(40);

  @include tablets-down() {
    max-width: none;
  }

  &__title {
    font-weight: 500;
    @include fz(36, 48);
    margin-bottom: rem(65);
    position: relative;

    @include tablets-down() {
      margin-bottom: rem(32);
    }
  }

  &__num {
    position: absolute;
    top: 0;
    left: rem(-40);
    font-weight: bold;
    @include fz(24, 39);
    color: #A247FA;
  }

  &__desc {
    font-weight: 300;
    @include fz(24, 37);
    margin-bottom: rem(70);
  }

  &__link {
    color: $white;
  }
}

.our-works-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-34);

  .our-works-item {
    width: 33.3333%;
    padding: 0 rem(34);
  }

  @include tablets-down() {
    margin: 0 rem(-15);

    .our-works-item {
      width: 50%;
      margin-bottom: rem(60);
      padding: 0 rem(15);
    }
  }

  @include phones-lg-down() {
    justify-content: center;

    .our-works-item {
      width: 100%;
      max-width: rem(550);
    }
  }
}

.our-works-item {
  width: 50%;

  &:nth-child(even) {
    & > * {
      margin-left: auto;
    }
  }
}

.our-works-card {
  $our-works-card: &;

  &:hover {
    #{$our-works-card} {
      &__title {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__top {
    margin-bottom: rem(16);
  }

  &__pic {
    width: 100%;
    position: relative;
    padding-top: 69.95%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include object-fit(cover);
    }

    // @include phones-lg-down() {
    //   padding-top: 0;
    //   height: rem(380);
    // }
  }

  &__label {
    font-weight: 300;
    @include fz(20, 31);
    margin-bottom: rem(10);
  }

  &__title {
    font-weight: 300;
    @include fz(40, 40);
    position: relative;

    & > * {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 0;
      bottom: 14%;
      width: 100%;
      height: rem(8);
      background: #A247FA;
      z-index: 0;
      transition: opacity $tr-hover;
      opacity: 0;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    @include fz(16, 26);
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    transition: color $tr-hover;

    &::after {
      content: "";
      display: block;
      width: rem(50);
      height: rem(50);
      border: 1px solid $white;
      margin-left: rem(30);
      border-radius: 50%;
      background-image: url("../img/icons/arrow-right-white.svg");
      background-repeat: no-repeat;
      background-size: rem(13) rem(26);
      background-position: 50% 50%;
      transition: border $tr-hover, background $tr-hover;
    }
  }
}