@font-face {
  font-family: 'tt_hoves_regular';
  src: url('../fonts/tthoves_regular_macroman/subset-TTHoves-Regular.eot');
  src: url('../fonts/tthoves_regular_macroman/subset-TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/tthoves_regular_macroman/subset-TTHoves-Regular.woff2') format('woff2'),
      url('../fonts/tthoves_regular_macroman/subset-TTHoves-Regular.woff') format('woff'),
      url('../fonts/tthoves_regular_macroman/subset-TTHoves-Regular.ttf') format('truetype'),
      url('../fonts/tthoves_regular_macroman/subset-TTHoves-Regular.svg#TTHoves-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

