$desktop: 1600px;
$laptop: 1280px;
$tablets: 800px;
$tablets-min: 600px;
$phones: 480px;
$phones-min: 360px;

$tr: all 0.2s;

@mixin karton {
  font-family: 'karton', serif;
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin tablets-min {
  @media screen and (max-width: $tablets-min) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin phones-min {
  @media screen and (max-width: $phones-min) {
    @content;
  }
}
