@font-face {
	font-family: 'Aktifo-A';
	src: url('../fonts/Aktifo-A-Bold.eot');
	src: url('../fonts/Aktifo-A-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aktifo-A-Bold.woff2') format('woff2'),
		url('../fonts/Aktifo-A-Bold.woff') format('woff'),
		url('../fonts/Aktifo-A-Bold.ttf') format('truetype'),
		url('../fonts/Aktifo-A-Bold.svg#Aktifo-A-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aktifo-A';
	src: url('../fonts/Aktifo-A-Light.eot');
	src: url('../fonts/Aktifo-A-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aktifo-A-Light.woff2') format('woff2'),
		url('../fonts/Aktifo-A-Light.woff') format('woff'),
		url('../fonts/Aktifo-A-Light.ttf') format('truetype'),
		url('../fonts/Aktifo-A-Light.svg#Aktifo-A-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aktifo-A';
	src: url('../fonts/Aktifo-A-Book.eot');
	src: url('../fonts/Aktifo-A-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aktifo-A-Book.woff2') format('woff2'),
		url('../fonts/Aktifo-A-Book.woff') format('woff'),
		url('../fonts/Aktifo-A-Book.ttf') format('truetype'),
		url('../fonts/Aktifo-A-Book.svg#Aktifo-A-Book') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aktifo-A';
	src: url('../fonts/Aktifo-A-Medium.eot');
	src: url('../fonts/Aktifo-A-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aktifo-A-Medium.woff2') format('woff2'),
		url('../fonts/Aktifo-A-Medium.woff') format('woff'),
		url('../fonts/Aktifo-A-Medium.ttf') format('truetype'),
		url('../fonts/Aktifo-A-Medium.svg#Aktifo-A-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aktifo-A';
	src: url('../fonts/Aktifo-A-SemiBold.eot');
	src: url('../fonts/Aktifo-A-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aktifo-A-SemiBold.woff2') format('woff2'),
		url('../fonts/Aktifo-A-SemiBold.woff') format('woff'),
		url('../fonts/Aktifo-A-SemiBold.ttf') format('truetype'),
		url('../fonts/Aktifo-A-SemiBold.svg#Aktifo-A-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'e-Ukraine';
	src: url('../fonts/e-Ukraine-Bold.eot');
	src: url('../fonts/e-Ukraine-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/e-Ukraine-Bold.woff2') format('woff2'),
		url('../fonts/e-Ukraine-Bold.woff') format('woff'),
		url('../fonts/e-Ukraine-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato-Heavy';
	src: url('../fonts/Lato-Heavy.eot');
	src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato-Heavy.ttf') format('truetype')
    url('../fonts/Lato-Heavy.svg#Lato-Heavy') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.eot');
  src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT-Light.ttf') format('truetype'),
    url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

