@import "_media";

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;

	@media (max-width: $desktop-lg) {
    font-size: 14px;
	}

	@media (max-width: $desktop) {
    font-size: 13px;
	}

	@media (max-width: $desktop-sm) {
    font-size: 12px;
	}

	@media (max-width: $tablets-lg) {
    font-size: 11px;
	}

	@media (max-width: $tablets) {
    font-size: 16px;
	}

	@media (max-width: $phones-sm) {
    font-size: 14px;
	}
}

body {
	font-family: 'Euclid Flex', sans-serif;
}

html,
body {
  max-width: 100%;
	height: 100%;
	background: $shark;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.wrapper {
	background: $shark;
	padding-top: rem($header-h);
	position: relative;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: rem(1240);
	padding: 0 rem(20);
	margin: 0 auto;
}

.main {
	&--home {
		padding: rem(45) 0 rem(210);

		@include phones-lg() {
			padding: rem(45) 0 rem(110);
		}
	}
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.letter {
	display: inline-block;
	position: relative;
}

.all-project {
	cursor: pointer;
	outline: none;
	background: none;
	padding: 0;
	border: 0;
	display: inline-block;
	font-weight: normal;
	@include fz(24, 32);
	color: $white;
	padding-right: rem(25);
	position: relative;

	@include phones-lg() {
		@include fz(16, 24);
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		width: rem(14);
		height: rem(8);
		margin-top: rem(-4);
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 4.5L9 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 100%;
		transition: transform $hover-dur ease-in-out;
	}

	&.active {
		&::after {
			transform: rotate(-180deg);
		}
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.anim-btns {
	position: absolute;
	bottom: rem(-110);
	right: rem(100);
	width: rem(200);
	height: rem(200);

	@include tablets() {
		position: relative;
		bottom: initial;
		right: initial;
		margin-left: auto;
		margin-right: 20%;
		width: rem(120);
		height: rem(120);
	}

	&:hover {
		.anim-btn--play {
			opacity: 1;
			transform: scale(1) rotate(0deg);
		}

		.anim-btn--see {
			transform: scale(0);
			opacity: 0;
		}
	}
}

.anim-btn {
	width: rem(200);
	height: rem(200);
	cursor: pointer;
	outline: none;
	background: none;
	padding: 0;
	border: 0;
	display: inline-block;
	position: relative;

	@include tablets() {
		width: rem(120);
		height: rem(120);
	}

	&--play {
		position: absolute;
		top: 50%;
		margin-top: rem(-100);
		transform: scale(0) rotate(-285deg);
		transition: all 0.5s ease-in;

		@include tablets() {
			margin-top: rem(-60);
		}

		.anim-btn__content {
			background-image: url('../img/icons/play.svg');
			background-size: rem(22) rem(20);

			&:hover {
				span {
					opacity: 1;
				}
			}

			span {
				display: block;
				border: 2px solid $white;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				filter: none;
				outline: 120px solid transparent;
				opacity: 0;
				pointer-events: none;
			}
		}
	}

	&--see {
		transform: scale(1);
		transition: all 0.3s ease-in;

		.anim-btn__content {
			border: 2px solid $white;
			background-image: url('../img/icons/eye.svg');
			background-size: rem(29) rem(22);
		}
	}

	&--left {
		right: 60%;
		opacity: 0;
		transition-delay: 0.1s;
	}

	&--right {
		left: 60%;
		opacity: 0;
		transition-delay: 0.1s;
	}

	&__content {
		display: block;
		width: rem(120);
		height: rem(120);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: rem(-60);
		margin-left: rem(-60);
		background-repeat: no-repeat;
		background-position: 50%;
		border-radius: 50%;

		@include tablets() {
			width: rem(72);
			height: rem(72);
			margin-top: rem(-36);
			margin-left: rem(-36);
		}
	}

	&__text-ico {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation: rotate 25s linear infinite;
		transform-origin: center;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*-------------- typewrite --------------*/
.typewrite {
	&-wrap {
		border-bottom: 2px solid #fff;
		animation: blinkTextCursor 1s steps(44) infinite normal;
	}
}

@keyframes blinkTextCursor {
	from {
		border-bottom-color: rgba(255, 255, 255, .75);
	}
	to {
		border-bottom-color: transparent;
	}
}

.video-modal {
	&.fancybox-content {
		outline: none;
		overflow: visible;
		padding: 0;
		background: none;
	}
	.fancybox-button {
		svg {
			fill: $white;
			stroke:$white;
		}
	}
	&__video {
		width: 100%;
		max-width: rem(1000);

		video {
			width: 100%;
			outline: none;
			display: block;
		}
	}
}

.fancybox-slide--html {
	.fancybox-close-small {
		top: -44px;
		right: -10px;

		@include phones-lg() {
			right: 0;
		}
	}
}