@font-face {
    font-family: 'Neometric';
    src: url('../fonts/Neometric/Neometric-Black.eot');
    src: url('../fonts/Neometric/Neometric-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neometric/Neometric-Black.woff2') format('woff2'),
        url('../fonts/Neometric/Neometric-Black.woff') format('woff'),
        url('../fonts/Neometric/Neometric-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neometric';
    src: url('../fonts/Neometric/Neometric-Regular.eot');
    src: url('../fonts/Neometric/Neometric-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neometric/Neometric-Regular.woff2') format('woff2'),
        url('../fonts/Neometric/Neometric-Regular.woff') format('woff'),
        url('../fonts/Neometric/Neometric-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neometric';
    src: url('../fonts/Neometric/Neometric-Bold.eot');
    src: url('../fonts/Neometric/Neometric-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neometric/Neometric-Bold.woff2') format('woff2'),
        url('../fonts/Neometric/Neometric-Bold.woff') format('woff'),
        url('../fonts/Neometric/Neometric-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neometric';
    src: url('../fonts/Neometric/Neometric-BoldItalic.eot');
    src: url('../fonts/Neometric/Neometric-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neometric/Neometric-BoldItalic.woff2') format('woff2'),
        url('../fonts/Neometric/Neometric-BoldItalic.woff') format('woff'),
        url('../fonts/Neometric/Neometric-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

