@import "_media.scss";
/*-------------- header --------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;

  &__cover {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: block;
    width: rem(142);
    margin-top: rem(31);
    position: relative;
    z-index: 2;
  }

  nav {
    margin: rem(28) 0;
    transition: .3s;

    @include tablets-down() {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding-top: rem(110);
      padding-bottom: rem(50);
      margin: 0;
      transform: translateY(-140%);
      background-color: #fff;
    }

    &.show {
      @include tablets-down() {
        transform: translateY(0%);
      }
    }

    ul {
      display: flex;

      @include tablets-down() {
        flex-flow: column;
      }
      
      li {
        margin-right: rem(50);

        @include tablets-down() {
          margin-right: 0;
          margin-bottom: rem(35);
          text-align: center;
        }

        &:last-child {
          margin-right: 0;

          @include tablets-down() {
            margin-bottom: 0;
          }
        }

        a {
          font-size: rem(16);
          line-height: rem(25);
          position: relative;

          @include tablets-down() {
            font-size: rem(22);
          }

          &::before {
            content: "";
            position: absolute;
            pointer-events: none;
            left: 0;
            bottom: rem(-2);
            width: 100%;
            height: rem(8);
            background: #A247FA;
            z-index: -1;
            transition: opacity $tr-hover;
            opacity: 0;
          }

          &.active,
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &--white {
    nav {
      @include tablets-down() {
        background: #000;
      }
      ul {
        li {
          a {
            color: #FFFFFF;
          }
        }
      }
    }

    .menu-btn .hamburger__item {
      background-color: #fff;
    }
  }
}

.menu-btn {
	display: block;
	width: 30px;
	height: 20px;
	transition: all .3s ease;
	background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: rem(35);
  outline: none;
  position: relative;
  z-index: 2;

	@media (min-width: 768px) {
    display: none;
  }

	.hamburger {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: space-between;

		&__item {
			display: block;
			width: 100%;
			height: 2px;
			background: #1F1F1F;
			transition: all .2s ease;
		}
	}

	&.close-menu {
		.hamburger__item {
			position: relative;

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(1) {
				transform: rotate(45deg);
				top: calc(50% - 1px);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
				bottom: calc(50% - 1px);
			}
		}
	}

	&:hover {
		opacity: 0.85;
	}
}
